<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basket"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.example.basket.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.basket.SignUpActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.basket.ForgotFieldActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basket.FrontPageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basket.PicknickActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basket.SettingPopupProfileActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.example.basket.BasketFragmentActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.example.basket.BasketInfoPageActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.example.basket.ProductFragmentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basket.ProductPageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basket.ProductListFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".FaqActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.example.basket.HomePageActivity"
            android:label="@string/app_name" >
        </activity>
		<activity
            android:name="com.example.basket.AdminPageActivity"
            android:label="@string/title_activity_admin_page" >
        </activity>
        <activity
            android:name="com.example.basket.SearchAccountActivity"
            android:label="@string/title_activity_search_account" >
        </activity>
        <activity
            android:name="com.example.basket.UserListFragmet"
            android:label="@string/title_activity_user_list_fragmet" >
        </activity>
        <activity
            android:name="com.example.basket.UserEditActivity"
            android:label="@string/title_activity_user_edit" >
        </activity>
        <activity
            android:name="com.example.basket.DateSaleActivity"
            android:label="@string/title_activity_date_sale" >
        </activity>
        <activity
            android:name="com.example.basket.AdminProductActivity"
            android:label="@string/title_activity_admin_product" >
        </activity>
    </application>
</manifest>