<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basket"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission
        android:name="com.basket.activities.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.basket.activities.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/basket_icon"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.basket.activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.basket.activities.SignUpActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.BasketFragmentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.BidsOnProductActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.ForgotFieldActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.FrontPageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.BuyEventPageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.BasketActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.ProductFragmentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.BidEventPageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.lists.ProductListFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.HomePageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.AdminPageActivity"
            android:label="@string/title_activity_admin_page" >
        </activity>
        <activity
            android:name="com.basket.activities.SearchAccountActivity"
            android:label="@string/title_activity_search_account" >
        </activity>
        <activity
            android:name="com.basket.lists.UserListFragmet"
            android:label="@string/title_activity_user_list_fragmet" >
        </activity>
        <activity
            android:name="com.basket.activities.UserEditActivity"
            android:label="@string/title_activity_user_edit" >
        </activity>
        <activity
            android:name="com.basket.activities.DateSaleActivity"
            android:label="@string/title_activity_date_sale" >
        </activity>
        <activity
            android:name="com.basket.activities.AdminProductDateSaleActivity"
            android:label="@string/title_activity_date_sale" >
        </activity>
        <activity
            android:name="com.basket.activities.AdminProductActivity"
            android:label="@string/title_activity_admin_product" >
        </activity>
        <activity
            android:name="com.basket.general.ProductSales"
            android:label="@string/title_activity_product_sales" >
        </activity>
        <service
            android:name="com.basket.general.CarJsonSpringAndroidSpiceService"
            android:exported="false" />

        <activity
            android:name="com.basket.activities.CheckoutActivity"
            android:label="@string/title_activity_checkout" >
        </activity>
        <activity
            android:name="com.basket.activities.PicknickActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.CreditCardSelectActivity"
            android:label="@string/title_activity_credit_card_select" >
        </activity>
        <activity
            android:name="com.basket.activities.OrdersActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.ShippingAddressSelectActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.MyShopActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.FaqActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.CategoryPageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.basket.activities.CreateBidActivity"
            android:label="@string/title_activity_create_bid" >
        </activity>
        <activity
            android:name="com.basket.activities.CreateBuyActivity"
            android:label="@string/title_activity_create_buy" >
        </activity>
        <activity
            android:name="com.example.basket.SellingBid"
            android:label="@string/title_activity_selling_bid" >
        </activity>
        <activity
            android:name="com.basket.activities.ChooseSubSubCategoryActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="com.basket.general.CarJsonSpringAndroidSpiceService"
            android:exported="false" />

        <activity
            android:name="com.basket.activities.EditCreditCardsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.EditSAddressesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.EditUserActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.EditSingleCCActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.EditSingleSAActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.basket.activities.BidWinActivity"
            android:label="@string/title_activity_bid_win" >
        </activity>
         <activity
            android:name="com.basket.activities.AdminSignUp"
            android:label="@string/title_activity_admin_sign_up" >
        </activity>

        <receiver
            android:name="com.basket.notifications.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.basket.gcm.demo.app" />
            </intent-filter>
        </receiver>

        <service android:name="com.basket.notifications.GcmIntentService" />

       
    </application>

</manifest>